.titre{
    background-color:gray;
    text-align: center;
}

h2{
    background-color:gray;
    text-align: left;
}


#piedspage{
    background-color:black;
    text-align: center;
    color: white;
}
